@charset "UTF-8";

/* Typical Device Breakpoints
=============================
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

:root {
    /* Cores principais */
    --cor-cinza: #212121;
    --cor-azul-escuro: #1F2532;
    --cor-cinza-claro: #E0E5E9;
    --cor-amarelo: #FDB813;
    --cor-verde: #339e42;
    --cor-vermelho: #E74C3C;
    --cor-azul: #007bff;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #1F2532;
}

body {
    background-color: var(--cor-cinza-claro);
    height: 100vh;
    width: 100vw;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
color: var(--cor-verde);
font-size: 1.5em;
}

  
/* Estilos para o menu burger */
.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Posiciona o ícone do menu no lado direito */
    cursor: pointer;
    background-color: var(--cor-verde);
    border-radius: 5px;
    padding: 7px 7px;
    margin: 5px;
    position: absolute; /* Necessário para posicionar o menu no topo direito */
    top: 50px;
    left: none;
    right: 10px;
    z-index: 1000;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: var(--cor-cinza-claro);
    margin: 3px 0;
}

.container h1{
    display: none;
    margin: 0;
    font-size: 1.5em;
    color: var(--cor-cinza-claro);
    position: absolute;
    top: 61px;
    left: 20%;
    z-index: 1000;
}

/* Estilos para o menu no topo do site */
.menu {
    list-style: none;
    display: none;
    background-color: var(--cor-azul-escuro);
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding: 100px 20px 0 20px;
    z-index: 999;
}

.menu img {
    display: none;
}

.galeria {
    display: none;
}

body.menu-open {
    overflow: hidden;
}


.menu li {
    text-align: center;
    margin: 0px;
    padding: 5px;
    border-bottom: 2px solid #283041;
    color: var(--cor-cinza-claro);
}

.menu li:hover {
    border-bottom: 2px solid var(--cor-cinza-claro);
}


.menu li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: var(--cor-cinza-claro);
    font-size: 1.5em;
}

/* Quando o item do menu está ativo (clicado) */
.menu li:active a {
    color: var(--cor-verde); /* Altera a cor da fonte para verde */
}

#logo {
    width: auto;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}

.mySlides {
    display: none;
    animation: fade 5s linear infinite;
}

@keyframes fade {
0% { opacity: 0; }
25% { opacity: 1; }
75% { opacity: 1; }
100% { opacity: 0; }
}

img {
width: 100%;
height: 200px;
}

.slideshow-container h1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 10px;
    margin: 20px;
}

.slideshow-container p {
    font-size: 1em;
    padding: 0px 5px;
    margin: 20px;
    font-size-adjust: calc();
}

button {
    font-size: 1.1em;
    background-color: var(--cor-verde);
    color: var(--cor-cinza-claro);
    padding: 15px 35px;
    margin: 20px 20px 40px 20px;
    border-radius: 10px;
    border: 0px;
}

button:hover {
    background-color: #277731;
}

.Parcerias {
    width: auto;
    height: 450px;
}

#tecnologiaImg {
    height: 450px;
    width: 100vw;
}

.Parcerias h2 {
    max-width: 40%;
    font-size: 1.8em;
    position: relative;
    top: -90%;
    left: 50%;
    color: #fff;
    margin-bottom: 20px;
}

.Parcerias p {
    max-width: 45%;
    font-size: 1em;
    position: relative;
    top: -85%;
    left: 50%;
    color: #fff;
    margin-bottom: 20px;
}

.EngRH {
    margin: auto;
    padding:  10px 50px;
    text-align: center;
}

.EngRH p {
    text-align: center;
    margin: 10px;
}

.Contato {
    margin: 70px 0px;
    padding: 20px;
}

.Contato img {
    width: auto;
    height: auto;
    position: relative;
    top: 17px;
}

.Contato > div > h1 {
    font-size: 0.9em;
}

.dadosContato {
    text-align: center;
    padding-bottom: 50px;
}

.Contato > div > h1 {
    font-size: 1.3em;
    padding: 20px;
}
.Contato > div > h4 {
    padding: 10px;
}

.contato {
    padding: 0px;
    margin: 0px;
}
/* Estilos para as etiquetas (labels) */
label {
    display: block; /* Coloca cada rótulo em uma nova linha */
    margin: 5px 0 5px 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--cor-cinza);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid var(--cor-azul);
    outline: none;
}


input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: var(--cor-cinza);
    text-align: center;
    padding: 20px 30px;
}

footer p {
    color: var(--cor-cinza-claro);
    padding: 10px 0px;
}

footer h3 {
    padding-top: 15px;
    color: var(--cor-verde);
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* Conf para tablet */

    #logo {
        width: auto;
        height: auto;
    }

    img {
        width: 100%;
        height: 400px;
    }

    .slideshow-container {
        margin: 0;
    }
    
    .slideshow-container h1 {
        font-size: 1.8em;
        padding: 15px 100px;
        margin: 0;
    }
    
    .slideshow-container p {
        font-size: 1.2em;
        padding: 0px 60px;
        margin: 0;
    }

    .Parcerias {
        height: 450px;
    }
    
    #tecnologiaImg {
        height: 500px;
    }

    .menu img {
        display: none;
    }

    .galeria {
        display: none;
    }
    .Contato > div > h1 {
        font-size: 1.1em;
    }
    
    .EngRH {
        margin: auto;
        padding:  80px 90px 0px 90px;
        margin: 0;
    }

    .EngRH H1 {
        font-size: 2em;
    }
    
    .EngRH p {
        font-size: 1.3em;
        padding: 20px 10px 5px 10px;
        margin: 0;
    }
    
    
    
    footer {
        background-color: var(--cor-cinza);
        text-align: center;
        padding: 60px 30px;
    }
    
    footer p {
        color: var(--cor-cinza-claro);
        padding: 10px 0px;
    }
    
    footer h3 {
        padding-top: 15px;
        color: var(--cor-verde);
    }
}

@media screen and (min-width: 992px) {/* Conf para desktop */
    #logo {
        display: none;
    }

    /* Estilos para o menu burger */
    .burger-menu {
        display: none;
    }


    /* Estilos para o menu no topo do site */
    .menu {
        display: flex;
        height: 95px;
        padding: 25px;
        position: fixed;
        justify-content: space-between;
        margin: 0;
        background-color: var(--cor-cinza-claro);
    }

    .menu img {
        display: block;
        position: relative;
        width: 110px;
        height: 110px;
        animation:rotate-center .6s ease-in-out both;
        top: -40px;
    }
    
    /* ----------------------------------------------
    * Generated by Animista on 2023-11-4 16:0:43
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    @keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

    .menu li {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        color: var(--cor-cinza-claro);
        border-bottom: none;
    }
    
    .menu li:hover {
        border-bottom: 4px solid var(--cor-verde);
    }
    
    
    .menu li a {
        text-decoration: none;
        padding: 10px;
        color: var(--cor-cinza);
        font-size: 1.3em;
    }
    
    /* Quando o item do menu está ativo (clicado) */
    .menu li:active a {
        color: var(--cor-verde);
    }


    /* Estilo para o contêiner de paralaxe */
    .parallax {
        background-image: url('../img/dvlogo.jpeg');
        background-size: 600px 550px;
        background-attachment: fixed; /* Fixa a imagem de fundo */
        background-position: top;
        height: 55vh; /* Ajuste a altura conforme necessário */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Estilo para o conteúdo dentro do contêiner de paralaxe */
    .parallax-content {
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        max-width: 600px;
    }

    .parallax-content h2{
        color: var(--cor-cinza-claro);
        font-size: 3.5em;
        text-shadow:5px 6px 18px rgba(0, 0, 0, 0.815)
    }


    .slideshow-container {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
      }
      
    .mySlides {
        position: relative;
        left: 45%;
        width: 55%;
        height: auto;
    }
    
    .textIntro {
        position: relative;
        right: 55%;
        width: 45%;
        padding: 0 50px;
    }

    .textIntro  h1{
        font-size: 2.3em;
    }

    .textIntro  p{
        font-size: 1em;
    }
    
    .mySlides img {
        width: 100vw;
        height: 100vh;
    }

    .Parcerias {
        display: block;
        background-color: #0c0c0c;
        height: 100vh;
        width: 100vw;
    }
    
    #tecnologiaImg {
        display: none;
    }

    .galeria {
        display: flex;
        width: 100vw;
        height: 100vh;
    }

    .galeria img {
        aspect-ratio: 9/16;
        min-width: 0;
        flex: 1 1 10px;
        object-fit: cover;
        opacity: .4;
        transition: .5s;
        height: 100vh;
    }

    .galeria img:hover {
        flex: 1 1 100px;
        opacity: 1;
    }

    .Parcerias h2{
        display: none;
    }

    .Parcerias p{
        display: none;
    }

    .EngRH {
        display: flex;
        margin: auto;
        padding:  80px 200px 0px 200px;

    }

    .EngRH img {
        width: 350px;
    }

    .EngRH H1 {
        font-size: 2.2em;
    }
    
    .EngRH p {
        font-size: 1.2em;
        padding: 20px 50px 5px 50px;
        margin: 0;
    }


    .Contato{
        display: flex;
        margin: 20px 30px 10px 30px;
        padding: 20px;
    }



    .Contato > div {
        flex: 1;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
    }


    footer {
        padding: 100px 30px;
    }
    
    footer p {
        padding: 10px 0px;
    }
    
    footer h3 {
        padding-top: 15px;
    }
    
}